@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1724374091997') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e601";
}

.icon-weibo:before {
  content: "\e65f";
}

.icon-pengyou:before {
  content: "\e746";
}

.icon-taobao:before {
  content: "\e755";
}

.icon-icon:before {
  content: "\e66c";
}

.icon-lvhang:before {
  content: "\e60e";
}

.icon-luntan:before {
  content: "\e63f";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-qianzheng:before {
  content: "\e891";
}

.icon-wenda:before {
  content: "\e893";
}

.icon-baoxiandingdan:before {
  content: "\e895";
}

.icon-jiudian:before {
  content: "\e89b";
}

.icon-shuaxin:before {
  content: "\e8aa";
}

.icon-youlun:before {
  content: "\e8b7";
}

.icon-dangdiwanle:before {
  content: "\e8b9";
}

.icon-guangbo:before {
  content: "\e605";
}

.icon-xuanti-fuzeren:before {
  content: "\e67c";
}

.icon-paisheluxiang:before {
  content: "\e617";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-tixingshixin:before {
  content: "\ec72";
}

.icon-train:before {
  content: "\e602";
}

.icon-pingtai:before {
  content: "\e994";
}

.icon-youjiantou:before {
  content: "\e6b5";
}

.icon-xiugaioryijian:before {
  content: "\f00fc";
}

.icon-arrow-up:before {
  content: "\e647";
}

.icon-chahao:before {
  content: "\e618";
}

.icon-xiangxiajiantou:before {
  content: "\e651";
}

.icon-saoma:before {
  content: "\e712";
}

